.faq_list_wrap h3{
  text-align: center;
  border-bottom: 2px solid #202020;
  padding-bottom: 40px;
}
/* 리스트 타이틀 */
.faq_list_title ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
}
.faq_list_title ul li{
  font-weight: bold;
  text-align: center;
  line-height: 65px;
}
.faq_list_num{
  flex: 1;
}
.faq_list_cont{
  flex: 3;
}
.faq_list_write{
  flex: 1;
}
.faq_list_day{
  flex: 1;
}
.faq_list_view{
  flex: 1;
}
/* 리스트 바디 */
.faq_list_body ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
.faq_list_body ul li{
  font-size: 14px;
  text-align: center;
  line-height: 65px;
}
.faq_list_body ul li:hover{
  cursor: pointer;
}
/* 리스트 바디 콘트 */
.faq_list_body .faq_list_content{
  text-align: center;
  font-size: 14px;
  background-color: #f6f6f6;
  max-height: 0;
  overflow: hidden;
  transition: all .7s ease;
}
/* 글작성 버튼 */
.write_faq_btn_box{
  text-align: right;
}
#faq_write{
  width: 100px;
  height: 40px;
  padding: 0;
  border: 0;
  font-size: 14px;
  background-color: #202020;
  color: #f6f6f6;
  cursor: pointer;
}
/* 글 삭제 수정 버튼 */
.emend_delete_faq_btn_box{
  text-align: right;
  margin-top: 20px;
}
/* 수정버튼 */
#faq_emend{
  width: 60px;
  height: 30px;
  padding: 0;
  border: 0;
  font-size: 14px;
  background-color: #202020;
  color: #f6f6f6;
  cursor: pointer;
}
/* 삭제버튼 */
#faq_delete{
  width: 60px;
  height: 30px;
  padding: 0;
  border: 1px solid #202020;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #f6f6f6;
  color: #202020;
  cursor: pointer;
}
/* 모바일 */
@media only screen and (max-width:560px){
  .faq_list_title ul li{
    font-size: 14px;
  }
  .faq_list_body ul li{
    font-size: 12px;
  }
  .faq_list_cont{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #faq_write{
    font-size: 12px;
  }

  /* 수정버튼 */
  #faq_emend{
    font-size: 12px;
  }
  /* 삭제버튼 */
  #faq_delete{
    font-size: 12px;
  }
}
@media only screen and (max-width:410px){
  .faq_list_title ul li{
    font-size: 13px;
    line-height: 40px;
  }
  .faq_list_body ul li{
    font-size: 10px;
    line-height: 40px;
  }
  #faq_write{
    font-size: 10px;
  }

  /* 수정버튼 */
  #faq_emend{
    width: 40px;
    font-size: 10px;
  }
  /* 삭제버튼 */
  #faq_delete{
    width: 40px;
    font-size: 10px;
  }
}