/* 섹션3 */
.section3{
  width: 100%;
  
}
/* books타이틀 */
.sec3_title h2{
  font-size: 96px;
  font-weight: bold;
  margin-left: 15.9%;
}
/* 탭 영역 */
/* 탭 리스트 */
.tab_lists{
  display: flex;
  justify-content: end;
}
.tab_list{
  width: 22%;
  box-sizing: border-box;
}
.tab_list_2{
  margin: 0 3%;
}
/* 북 이미지 */
.tab_list .books_img{
  width: 100%;
}
.tab_list .books_img a{
  display: block;
  width: 100%;
}
.tab_list .books_img img{
  display: block;
  width: 100%;
}
/* 북 텍스트 */
.tab_list .books_author{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab_list .books_title{
  margin-top: 10px;
  font-size: 30px;
}
.tab_list .books_cont{
  word-break: break-all;
}
/* 탭 버튼 */
.sec3_tab_btn button{
  background-color: transparent;
}
.sec3_tab_btn button img{
  width: 55px;
  height: 55px;
  transform: rotate(135deg);
}

/* 스와이퍼 버튼 */
.tab_list_btn{
   display: none;
}
/* 탭 콘트 */
.tab_cont{
  width: 70%;
  height: auto;
  padding: 100px 0;
  background-color: #d9d9d9;
}
.tab_cont_wrap{
  display: flex;
  transform: translateX(22%);
}

.tab_cont .books_text{
  width: 50%;
  margin-right: 3%;
}
.tab_cont .books_title{
  font-size: 53px;
  font-weight: bold;
}
.tab_cont .books_author{
  font-weight: bold;
}
.tab_cont .books_content{
  word-break: break-all;
}
.tab_cont .books_img{
  width: 300px;
  display: block;
}
.tab_cont .books_img a{
  display: block;
  width: 100%;
}
.tab_cont .books_img img{
  display: block;
  width: 100%;
}
.tab_cont_wrap2{
  display: none;
}
.tab_cont_wrap3{
  display: none;
}


@media (max-width:1480px){
  /* books타이틀 */
  .sec3_title h2{
    font-size: 53px;
  }
  /* 탭 콘트 */
  .tab_cont .books_title{
    font-size: 35px;
  }
}

@media (max-width:1100px){
  /* 탭 리스트 */
  .tab_wrap{
    overflow: hidden;
  }
  .tab_lists{
    width: 300vw;
    transition: transform .8s;
  }
  .tab_list{
    width: 100vw;
    transform : translateX(45vw);
  }
  .tab_list_2{
    margin: 0;
  }
  /* 북 이미지 */
  .tab_list .books_img{
    width: 40%;
  }
  .tab_list_btn{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tab_list_btn>button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #202020;
    font-size: 0;
  }
  .tab_list_btn>button.btn_active{
    background-color: #d9d9d9;
  }
  /* 탭 콘트 */
  .tab_cont{
    width: 80%;
  }
}

@media (max-width:769px){
  /* books타이틀 */
  .sec3_title h2{
    margin-left: 7%;
  }
  /* 탭 콘트 */
  .tab_cont{
    width: 100%;
    padding: 0;
  }
  .tab_cont_wrap{
    transform: translateX(0%);
    padding: 8%;
  }
  .tab_cont .books_text{
    width: 100%;
    margin-right: 0%;
  }
  .tab_cont .books_title{
    font-size: 30px;
  }
  .tab_cont .books_img{
    display: none;
  }
}

@media (max-width:468px){
  /* books타이틀 */
  .sec3_title h2{
    font-size: 40px;
  }
  /* 탭 리스트 */
  .tab_list{
    transform : translateX(30vw);
  }
  /* 북텍스트 */
  .tab_list .books_title{
    font-size: 24px;
  }
  /* 탭콘트 */
  .tab_cont .books_title{
    font-size: 24px;
  }
}