<div class="about_pg_wrap">
  <section class="about_pg_top w1760" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000">
    <h3>
      국내외 학자들의 연구물과 동서양의 고전들을 ‘재미있고’ ‘뜻’ 있게 읽힐 수 있도록
    </h3>
    <div class="about_pg_top_container"></div>
  </section>
  <section class="about_pg_bottom" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000">
    <article class="about_pg_bottom_container">
      <div class="about_pg_bottom_cont w1760">
        <p><span>글항아리는</span> 고전에서 학문의 최전선, 실용에서 문학까지 다양한 양서들을 펴내는 출판사입니다.</p>
        <p class="mt40">
          2007년 창립 이래 인문학과 사회과학에 집중하면서 역사, 철학, 예술부터
          과학에 이르기까지 여러 분야에 걸쳐 600여 권의 책을 펴냈고,
          토마 피케티의 ‘21세기 자본’ 존 톨런드의 ‘일본 제국 패망사’ 동양고전 시리즈,
          걸작 논픽션 시리즈, 현대의 고전 시리즈, 규장각 교양총서, 한국국학진흥원 교양총서 등
          주목받는 시리즈도 꾸준히 내고 있습니다. 글항아리는 일상의 작은 것 하나 놓치지 않고 종이에 적어 항아리 단지에 보관해두었다는 연암 박지원의 일화에서 따온 글항아리라는 이름에 걸맞게 계속해서 의미 있는 글을 발굴하고 출간하는 데 힘쓰고자 합니다.</p>
        <p class="mt40">
          Geulhangari(means ‘book pot’) is the fastest growing publisher in Korea focusing mainly on the humanities. Started in 2007, we have published roughly up to 600 titles ranging from history and philosophy to psychology and science. We present academic achievements of scholars and various types of essays as well. Geulhangari publishes approximately 100 new books every year.
        </p>
        <p class="mt40">
          韩国书缸出版社是文学村出版集团旗下的关联公司，主要出版包括历史、哲学的人文学类书，还出版社科、艺术、科学、经济类教养书。2014年， 书缸出版社推出在全球范围内成为炙手可热的畅销书法国经济学家托马斯·皮克迪 著作《21世纪资本论》，引起了大众对日益加剧的不平等问题的关注，主导引起学界讨论。书缸出版社一方面在经济领域策划一些颇具时宜性的图书，与当代社会开展紧密的沟通，另一方面，在历史、哲学等人文学领域，始终致力于拓宽知识、教养的广度和深度。本社推出的《贞观政要》、《韩非子》、《论语》等“东方古典套书”、 将朝鲜王朝各级群体的生活场面活生生地再现的“奎章阁教养丛书”和从全新的角度贯通中国历史的“易中天中国史套书”等，以有益又有趣的观点诠释历史和经典，引起学界的巨大反响，赢得大众好评。
        </p>
      </div>
    </article>
  </section>
</div>
<!-- 얘는 여기서만 쓰일거니까 여기에 바로 연결해도 된다 -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>