<section class="all_books_wrap w1760 mt100">
  <article class="all_book_left">
    <div class="books_fixed_menu">
      <ul>
        <li>
          <a href="/new_books">NEW BOOKS</a>
        </li>
        <li>
          <a href="/all_books">ALL BOOKS</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="all_book_right">
    <div class="all_book_list">
      <ul>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook1.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>이소영</p>
            <p>식물과 나</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook2.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>문기영</p>
            <p>홍차수업</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook3.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>린량</p>
            <p>작은 태양</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook4.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>이저벨라 트리</p>
            <p>야생 쪽으로</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook5.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>우샤오러</p>
            <p>상류 아이</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook6.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>아먼드 단거</p>
            <p>사랑에 빠진 소크라테스</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook7.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>미하엘 엔데</p>
            <p>미하엘 엔데의 글쓰기</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook8.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>도러시 고</p>
            <p>문화와 폭력</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook9.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>이종옥 이재연</p>
            <p>몽당연필은 아직 심심해</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook10.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>리사 엘드리지</p>
            <p>메이크업 스토리</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook11.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>지다웨이</p>
            <p>막</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook12.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>도널드 리치</p>
            <p>도널드 리치의 일본 미학</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook13.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>나카야 우키치로</p>
            <p>눈은 하늘에서 보낸 편지</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook14.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>윌 스토</p>
            <p>셀피</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook15.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>김효원</p>
            <p>엄마의 마음이 자라는 시간</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook16.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>안</p>
            <p>안의 흠흠 杏のふむふむ</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook17.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>김민아</p>
            <p>음악이 아니고서는</p>
          </div>
        </li>
        <li>
          <div class="all_book_img">
            <a href="#"><img src="img/allbook18.jpg" alt="book">
            </a></div>
          <div class="all_book_cont">
            <p>김신회</p>
            <p>나의 복숭아</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- 글작성 버튼 -->
    <div class="all_book_write_btn_box mt40">
      <button type="button" id="all_book_write">글쓰기</button>
    </div>
    <div class="page_num mt40">
      <ul>
        <li class="page_number_color">1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
  </article>
</section>