<section class="book_view_wrap w1760 mt100">
  <article class="book_view_left">
    <div class="book_view_img">
      <img src="img/allbook1.jpg" alt="book">
    </div>
  </article>
  <article class="book_view_right">
    <div class="book_view_container">
      <div class="book_view_intro_wrap">
        <h2 class="book_view_intro">
          식물과 함께한 삶, 식물이 알게 해준 나와 우리
        </h2>
      </div>
      <div class="book_view_cont_wrap">
        <p class="mt40">이소영 지음</p>
        <p>식물과 나</p>
        <p class="book_view_cont mt40">
          “아가베는 꽃을 피우고 죽어.” 아가베 곁에서 사진을 찍는 내게 한 원예가가 말했다. 그는 아직 피지도 않은 꽃대를 바라보며 죽음을 이야기했다. 모든 종이 그런 건 아니지만 아가베속 중에는 지니고 있던 탄수화물을 꽃을 피우는 데 다 써버리고 꽃이 진 후에는 아예 죽어버리는 종도 있다고 했다.
          꽃을 피우는 잠깐의 순간을 위해 식물은 가진 에너지를 모두 끌어 쓰고, 이 많은 잎을 죽이는구나. 삶에서 꽃을 피우는 순간은 1년도 채 되지 않지만 오직 그 순간을 향해 몇 년, 몇십 년을 하루도 쉬지 않고 이 많은 죽은 잎을 만들어내는구나. 이것이 식물의 삶이구나 깨달았다.
          _「죽은 잎」
        </p>
      </div>
    </div>
  </article>
</section>
<div class="book_view_list_btn_box w1760 mt100">
  <button type="button" id="book_view_emend">수정</button>
  <button type="button" id="book_view_delete">삭제</button>
  <button type="button" id="book_view_list">목록</button>
</div>