<section class="editer_note_wrap w1760 mt100">
 <article class="editer_note_list_wrap">
   <div class="editer_note">
     <div class="editer_note_img">
       <img src="img/editers1.png" alt="editers">
     </div>
     <div class="edi_note_text">
       <p class="edi_name mt20">박은아</p>
       <p class="edi_title">손택 없는 세계에서</p>
       <p class="edi_cont mt20">
         수전 손택이 전 생애에 걸쳐 보여준 압도적인 존재감은, 그가 죽고 없는 세계에서 그의 평전을 작업하는 나를 기묘한 부재감에 사로잡히게 했다. 팬데믹은 있는데, 그 은유의 심연을 지상으로 끄집어올리는 사람은 없구나. 아둔해지지 말고 흐리멍덩해지지 말고 현혹되지 말라고 윽박지르는 사람도 없고, 아무의 관심도 받지 못하는 조악하고 하찮은 것과 웅장하고 하품 나는 것을 찬미하는 사람도 없구나. 혜성 같은 환멸로 대중을 사로잡는 인물을 본 적이 없구나. 내가 사는 세상에는 수전 손택이 있지 않구나.</p>
     </div>
   </div>
   <div class="editer_note">
     <div class="editer_note_img">
       <img src="img/editers2.png" alt="editers">
     </div>
     <div class="edi_note_text">
       <p class="edi_name mt20">곽우정</p>
       <p class="edi_title">바르트가 수많은 사람과 주고받은 우정의 편지</p>
       <p class="edi_cont mt20">
         계획에 없던 일이었습니다.
         편집부에서 ‘바르트_앨범’으로 불렸던 이 원고는 두 가지 옷을 입고 세상에 나왔습니다.
         저에게 맡겨진 임무는 이랬습니다.
         ‘편지’라는 특성에 맞게 소장욕을 자극하는 멋짐 뿜뿜 양장 특별판을 만들 것.
         그리고 독자들이 쉽게 접할 수 있는 무선 보급판을 만들 것.
         그러니까, 두 가지 버전으로 만들 것. 아니, 결국 두 권의 책을 만들라는 거잖아?
         작업은 생각처럼 쉽지 않았습니다. 모든 것을 두 개로 만들어야 했습니다. 본문 디자인도 두 개, 표지도 두 개.</p>
     </div>
   </div>
   <div class="editer_note">
     <div class="editer_note_img">
       <img src="img/editers3.png" alt="editers">
     </div>
     <div class="edi_note_text">
       <p class="edi_name mt20">강성민</p>
       <p class="edi_title">우리는 이분에게</p>
       <p class="edi_cont mt20">
         재수 좋은 날엔 금촌시장에서 막 만든 두부를 만날 때가 있다. 뜨거운 김이 쏟아져나오는 두부판을 덜커덩덜커덩 옮겨 식칼로 금을 긋듯 몇 번 지나가면 풀무원 두부 다섯 통은 됨직한 큰 직사각형의 두부들이 투명한 비닐봉지에 낱개로 포장된다. 빵빵히 부풀어오른 그 봉지에 손을 대면 따끈따끈한 것이 안 사고는 못 배긴다.</p>
     </div>
   </div>
   <div class="editer_note">
     <div class="editer_note_img">
       <img src="img/editers4.png" alt="editers">
     </div>
     <div class="edi_note_text">
       <p class="edi_name mt20">진상원</p>
       <p class="edi_title">생애를 이야기한다는 것: 억척의 기원과 절박한 삶</p>
       <p class="edi_cont mt20">
         공교롭게도, 비슷한 성격의 책 두 권을 거의 동시에 작업하게 됐다. 하나는 구술생애사 작가 최현숙 선생님의 억척의 기원으로, 나주의 여성농민 이야기다. 연구자 전주람, 곽상인 선생님의 탈북 여성 인터뷰집 절박한 삶이 다른 하나다. 교정을 보는 내내 목소리를 듣는 듯했다면 과장일까. 일곱 사람의 회고는 이따금은 비문에 가까웠다. 정리할 수 없는 감정은 쓰기보다 말해야 한다. 읽기보다는 들어야 한다. 구술생애사 혹은 인터뷰(간편하게 묶을 수는 없지만)가 꽤 독특한 장르라는 생각을 했다. 누군가의 생애를 옮겨놓기에 이보다 원형적인 형식이 있을까 싶기도 했다.</p>
     </div>
   </div>
   <div class="editer_note">
     <div class="editer_note_img">
       <img src="img/editers5.png" alt="editers">
     </div>
     <div class="edi_note_text">
       <p class="edi_name mt20">이은혜</p>
       <p class="edi_title">우록리 할머니들의 구술생애사를 편집하며</p>
       <p class="edi_cont mt20">
         시골 사람들은 이렇게 살았을 거야,라고 짐작되는 바를 이 책은 모든 면에서 뛰어넘는다. 우리도 각자 자기 삶의 이야기가 있다지만 서울 사람들, 글을 아는 이들의 생은 얼마쯤 표준화돼 있다. 반면 '할매의 탄생'에 실린 여섯 여성의 생은 통일된 것도, 짐작대로 흘러가는 것도 없다. 지금 우리 삶이 국가, 사회, 가족에 많이 기대고 있다면 이 할머니들은 세 군데로부터 전혀 지지를 받지 못했다. 그래서 시간이 흘러가는 와중에 “글자 몬 익히고 몸무데기만 다 커버”렸던 것이다. 이 책은 사투리 하나하나 익혀가며 정말 많은 공을 들여 편집한 책이다. 할머니들 육성을 몇 마디 적어본다.</p>
     </div>
   </div>
   <div class="editer_note">
     <div class="editer_note_img">
       <img src="img/editers6.png" alt="editers">
     </div>
     <div class="edi_note_text">
       <p class="edi_name mt20">곽우정</p>
       <p class="edi_title">상처투성이 세계에 대한 응답, 우카이 사토시의 응답하는 힘</p>
       <p class="edi_cont mt20">
         일본의 잘못된 행태를 바로잡으려 애쓰는 일본인들을 볼 때면 이상하게 마음이 뭉클해지곤 합니다.
         과거에 국가가 잘못한 점은 인정하고 사과할 것은 사과하는 게 당연한 일일 텐데,
         그렇게 하는 사람에게 마음이 흔들린다는 건
         자신의 잘못을 인정한다는 게 쉽지 않은 일이기 때문이겠죠?</p>
     </div>
   </div>
   <div class="editer_note">
     <div class="editer_note_img">
       <img src="img/editers7.png" alt="editers">
     </div>
     <div class="edi_note_text">
       <p class="edi_name mt20">박은아</p>
       <p class="edi_title">편집자를 위한 네 번째 원고</p>
       <p class="edi_cont mt20">
         ‘편집자의 책소개’여서 하는 말이 아니라 – 네 번째 원고 는 글쓰기에 관심이 있거나 글쓰기를 업으로 삼는 수많은 사람에게 성찬과도 같은 책이지만, 사실 편집자들이 정말 좋아할 만한 책이기도 합니다. 1965년부터 지금껏 뉴요커 전속 작가로 글을 쓰고, 굴지의 출판사 패러, 스트로스 앤드 지루와 수십 권의 책을 펴낸 맥피의 곁에는 늘 전설적인 편집자(와 팩트체커, 교열자, 오케이어)들이 함께했습니다. 이 글에선 그들과 관련된 에피소드를 소개할까 해요.뉴요커는 비속어와 상소리에 대단히 보수적인 잡지입니다. </p>
     </div>
   </div>
   <div class="editer_note">
     <div class="editer_note_img">
       <img src="img/editers8.png" alt="editers">
     </div>
     <div class="edi_note_text">
       <p class="edi_name mt20">곽우정</p>
       <p class="edi_title">알쏭달쏭한 몽환 세계</p>
       <p class="edi_cont mt20">
         안녕하세요! 오늘 소개할 책은 왕웨이롄의 책물고기입니다.
         왕웨이롄, 책물고기… 아마 생소한 작가와 생소한 단어일 듯합니다. 책물고기?!
         저 역시 처음 이 원고를 받아 읽기 전에, 책물고기가 뭘까? 고민을 했더랍니다.
         그리고 왠지 모르게 자꾸 ‘책불고기’라고 부르게 되어서….
         편집하는 내내 편집부에서는 책불고기라고 불렸답니다.</p>
     </div>
   </div>
 </article>
</section>