<div class="faq_list_wrap w1760 mt100">
  <h3>FAQ</h3>
  <article class="faq_list_table_wrap">
    <div class="faq_list_title">
      <ul>
        <li class="faq_list_num">번호</li>
        <li class="faq_list_cont">제목</li>
        <li class="faq_list_write">작성자</li>
        <li class="faq_list_day">등록일</li>
        <li class="faq_list_view">조회수</li>
      </ul>
    </div>
    <div class="faq_list_body">
      <ul class="faq_list">
        <li class="faq_list_num">1</li>
        <li class="faq_list_cont">제목1제목1제목1제목1제목1제목1제목1제목1제목1</li>
        <li class="faq_list_write">관리자</li>
        <li class="faq_list_day">2022-12-15</li>
        <li class="faq_list_view">1</li>
      </ul>
      <div class="faq_list_content">
          <p>
            여기는 공지사항을 보여주는 페이지이다 내용~~냉무~~
          </p>
        <!-- 수정,삭제버튼 -->
          <div class="emend_delete_faq_btn_box">
            <button type="button" id="faq_emend">수정</button>
            <button type="button" id="faq_delete">삭제</button>
          </div>
      </div>
    </div>
      <!-- 글작성 버튼 -->
    <div class="write_faq_btn_box mt40">
      <button type="button" id="faq_write">글쓰기</button>
    </div>
  </article>
</div>
<script src="js/faq.js"></script>