<div class="newfaq_wrap w1760 mt100">
  <h3>FAQ 작성 페이지</h3>
  <form method="post" action="/writeFaq" id="newfaq_form">
     <div class="new_faq_day_box">
        <p>날짜</p>
        <input type="text" name="new_faq_day" class="new_faq_day">
     </div>
     <div class="new_faq_view_box">
        <p>조회수</p>
        <input type="text" name="new_faq_view" class="new_faq_view">
     </div>
     <div class="new_faq_name_box">
        <p>작성자</p>
        <input type="text" name="new_faq_name" class="new_faq_name">
     </div>
     <div class="new_faq_title_box">
        <p>제목</p>
        <input type="text" name="new_faq_title" class="new_faq_title">
     </div>
     <div class="new_faq_cont_box">
        <textarea name="new_faq_cont" class="new_faq_cont"></textarea>
     </div>
     <div class="new_faq_btn_box mt40">
        <button type="reset" value="취소" class="write_faq_reset" onclick="javascript:location.href='/faq'">취소</button>
        <button type="submit" value="확인" class="write_faq_check" onclick="javascript:location.href='/faq'">확인</button>
     </div>
  </form>
</div>