  <!-- 푸터 -->
  <footer>
    <div class="inner_footer mt100">
      <div class="foot_menu">
        <div class="ft_wrap">
          <div class="ft_title">CUSTOMER CENTER</div>
          <ul class="ft_menu_list">
            <li><a href="#">031 955 1936, 2560</a></li>
          </ul>
        </div>
        <div class="ft_wrap">
          <div class="ft_title">CUSTOMER SERVICE</div>
          <ul class="ft_menu_list">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/notice">NOTICE</a></li>
            <li><a href="/qna">Q&A</a></li>
          </ul>
        </div>
        <div class="ft_wrap">
          <div class="ft_title">CONTACT</div>
          <ul class="ft_menu_list">
            <li><a href="#">독자의견 bookpot@hanmail.net</a></li>
            <li><a href="#">팩스 031 955 2557</a></li>
          </ul>
        </div>
        <div class="ft_wrap">
          <div class="ft_title">SNS</div>
          <ul class="ft_menu_list">
            <li><a href="#">INSTAGRAM</a></li>
            <li><a href="#">FACEBOOK</a></li>
            <li><a href="#">TWITTER</a></li>
          </ul>
        </div>
      </div>
      <div class="foot_adree mt40"><span>COPYRIGHT &copy; Geulhangari 2019 All rights reserved. 주소: 경기도 파주시 회동길 210 회사명: 글항아리 대표 번호: 031 955 1936, 2560</span></div>
    </div>
  </footer>