  <!-- 헤더 -->
  <header>
    <div class="inner_header w1760">
      <div class="mobile_v m_login"><a href="/login"><img src="img/login.png" alt="login"></a></div>
      <h1 class="logo"><a href="/"><img src="img/logo_w.png" alt="logo"></a></h1>
      <nav id="gnb">
        <ul>
          <li class="abot_menu"><a href="/about">ABOUT</a></li>
          <li class="book_menu sub_list">
            <a href="/all_books">BOOKS</a>
            <ul class="sub_menu">
              <li><a href="/new_books">NEW BOOKS</a></li>
              <li><a href="/all_books">ALL BOOKS</a></li>
            </ul>
          </li>
          <li class="author_menu"><a href="#">AUTHOR</a></li>
          <li class="editor_menu"><a href="/editer_note">EDITOR's NOTE</a></li>
          <li class="customer_menu sub_list">
            <a href="/faq">CUSTOMER</a>
            <ul class="sub_menu">
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/notice">NOTICE</a></li>
              <li><a href="/qna">Q&A</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="login"><a href="/login"><img src="img/login.png" alt="login"></a></div>
      <!-- 모바일 네비게이션 -->
      <div class="mobile_v">
        <div class="mobile_menu" id="hamburger-1">
          <ul>
            <li class="hamburger_line"></li>
            <li class="hamburger_line"></li>
            <li class="hamburger_line"></li>
          </ul>
        </div>
      </div>
    </div>
  </header> 