<div class="join_wrap w1760 mt100">
  <h3>JOIN</h3>
  <form method="post" onsubmit="return Validation();" action="/writeJoin" id="join_form">
    <!-- 위드스700 -->
    <div class="join_table_wrap">
      <ul class="join_table">
        <li>
          <p><label for="id">아이디<span>*</span></label></p>
          <p><input type="text" name="id" id="id" placeholder="(예: abc123)"></p>
        </li>
        <li>
          <p><label for="pw">비밀번호<span>*</span></label></p>
          <p><input type="password" name="pw" id="pw" placeholder="(대/소문자,숫자,특수문자 3종 포함 8~15자리 미만)"></p>
        </li>
        <li>
          <p><label for="repw">비밀번호 확인<span>*</span></label></p>
          <p><input type="password" name="repw" id="repw" placeholder="(비밀번호를 다시 입력해주세요)"></p>
        </li>
        <li>
          <p><label for="name">이름<span>*</span></label></p>
          <p><input type="text" name="name"  id="name" placeholder="(띄어쓰기 없이 입력하세요)"></p>
        </li>
        <li>
          <p><label for="mail">이메일<span>*</span></label></p>
          <p><input type="text" name="mail" id="mail" placeholder="(예: temple123@gmail.com )"></p>
        </li>
      </ul>
    </div>
    <div class="join_btn_wrap mt40">
      <button type="reset" value="취소" id="reset" class="reset">취소</button>
      <button type="submit" value="확인" id="check" class="check">확인</button>
    </div>
  </form>
</div>
<script src="js/join.js"></script>