<section class="new_books_wrap w1760 mt100">
  <article class="new_book_left">
    <div class="books_fixed_menu">
      <ul>
        <li>
          <a href="/all_books">ALL BOOKS</a>
        </li>
        <li>
          <a href="/new_books">NEW BOOKS</a>
        </li>
      </ul>
    </div>
  </article>
  <article class="new_book_right">
    <div class="new_book_list">
      <ul>
        <li>
          <div class="new_book_img">
            <a href="#"><img src="img/books1.png" alt="new_book"></a>
            <a href="#"><img src="img/books1.jpg" alt="new_book"></a>
          </div>
          <div class="new_book_cont">
            <p>빈곤의 배치와 취약한 삶들의 인류학</p>
            <p>조문영 <span>빈곤과정</span></p>
          </div>
        </li>
        <li class="mt100">
          <div class="new_book_img">
            <a href="#"><img src="img/books2.png" alt="new_book"></a>
            <a href="#"><img src="img/books2.jpg" alt="new_book"></a>
          </div>
          <div class="new_book_cont">
            <p>매킨더의 지정학과 지리의 결정력</p>
            <p>해퍼드 존 매킨더 <span>심장지대</span></p>
          </div>
        </li>
        <li class="mt100">
          <div class="new_book_img">
            <a href="#"><img src="img/books3.png" alt="new_book"></a>
            <a href="#"><img src="img/books3.jpg" alt="new_book"></a>
          </div>
          <div class="new_book_cont">
            <p>세계대전과 현대의 탄생</p>
            <p>모드리스 엑스타인스 <span>봄의 제전</span></p>
          </div>
        </li>
        <li class="mt100">
          <div class="new_book_img">
            <a href="#"><img src="img/books4.png" alt="new_book"></a>
            <a href="#"><img src="img/books4.jpg" alt="new_book"></a>
          </div>
          <div class="new_book_cont">
            <p>춘추, 비루한 왕들의 카니발</p>
            <p>리징쩌 <span>고전의 배후</span></p>
          </div>
        </li>
        <li class="mt100">
          <div class="new_book_img">
            <a href="#"><img src="img/books5.png" alt="new_book"></a>
            <a href="#"><img src="img/books5.jpg" alt="new_book"></a>
          </div>
          <div class="new_book_cont">
            <p>“사나울 때 사납고 부드러울 때 부드러워야 한다”</p>
            <p>이중톈 <span>무측천의 정치</span></p>
          </div>
        </li>
      </ul>
    </div>
  </article>
</section>