<div class="notice_view_wrap w1760 mt100">
  <h3>NOTICE</h3>
  <article class="notice_view_table_wrap">
    <div class="notice_view_title">
      <h4>제목</h4>
    </div>
    <div class="notice_view_contant">
      안녕하세요 에리제론 입니다.

      에리제론이 세포라X마리끌레르 "NEXT K-BEAUTY"에 선정되어 
      
      8월 26일부터 10월 27일까지 세포라에서도 만나뵐 수 있게 되었습니다!
      
       
      
      따라서 세포라 온라인스토어와 
      
      국내 5개의 세포라 지점에서 에리제론을 찾아보실 수 있어요~
      
      가까운 매장에 산책겸 들러보시는 것은 어떨까요? :)
      
       
      
      *강남 파르나스몰
      
      *잠실 롯데월드몰
      
      *여의도 IFC 
      
      *명동 영플라자
      
      *신촌 유플렉스 
      
       
      
      특히 "여의도 IFC" 세포라에는 세면대가 있어
      
      에리제론의 풍부한 거품을 직접 내보시고 사용해보실 수 있으니
      
      많은 참여 부탁드립니다~
    </div>
  </article>
  <!-- 수정, 삭제, 목록 버튼 -->
  <div class="emend_delete_list_notice_view_btn_box mt100">
    <button type="button" id="notice_view_emend">수정</button>
    <button type="button" id="notice_view_delete">삭제</button>
    <button type="button" id="notice_view_write">목록</button>
  </div>  
</div>