<div class="new_notice_wrap w1760 mt100">
  <h3>NOTICE 작성하는 페이지</h3>
  <form method="post" action="/writeNotice" id="new_notice_form">
     <div class="new_notice_day_box">
        <p>날짜</p>
        <input type="text" name="new_notice_day" class="new_notice_day">
     </div>
     <div class="new_notice_view_box">
        <p>조회수</p>
        <input type="text" name="new_notice_view" class="new_notice_view">
     </div>
     <div class="new_notice_name_box">
        <p>작성자</p>
        <input type="text" name="new_notice_name" class="new_notice_name">
     </div>
     <div class="new_notice_title_box">
        <p>제목</p>
        <input type="text" name="new_notice_title" class="new_notice_title">
     </div>
     <div class="new_notice_cont_box">
        <textarea name="new_notice_cont" class="new_notice_cont"></textarea>
     </div>
     <div class="new_notice_btn_box mt40">
        <button type="reset" value="취소" class="write_notice_reset">취소</button>
        <button type="submit" value="확인" class="write_notice_check">확인</button>
     </div>
  </form>
</div>