<div class="notice_list_wrap w1760 mt100">
  <h3>NOTICE</h3>
  <article class="notice_list_table_wrap">
    <div class="notice_list_title">
      <ul>
        <li class="notice_list_num">번호</li>
        <li class="notice_list_cont">제목</li>
        <li class="notice_list_write">작성자</li>
        <li class="notice_list_day">등록일</li>
        <li class="notice_list_view">조회수</li>
      </ul>
    </div>
    <div class="notice_list_body">
      <ul class="notice_list">
        <li class="notice_list_num">1</li>
        <li class="notice_list_cont">1월달 배송 안내 공지</li>
        <li class="notice_list_write">관리자</li>
        <li class="notice_list_day">2023-01-05</li>
        <li class="notice_list_view">1</li>
      </ul>

      <ul class="notice_list">
        <li class="notice_list_num">2</li>
        <li class="notice_list_cont">2월달 배송 안내 공지</li>
        <li class="notice_list_write">관리자</li>
        <li class="notice_list_day">2023-01-05</li>
        <li class="notice_list_view">2</li>
      </ul>

      <ul class="notice_list">
        <li class="notice_list_num">3</li>
        <li class="notice_list_cont">3월달 배송 안내 공지</li>
        <li class="notice_list_write">관리자</li>
        <li class="notice_list_day">2023-01-05</li>
        <li class="notice_list_view">3</li>
      </ul>
    </div>

    <!-- 글작성 버튼 -->
    <div class="write_notice_btn_box mt40">
     <button type="button" id="notice_write">글쓰기</button>
    </div>  
  </article>
</div>