<div class="notice_view_wrap w1760 mt100">
  <h3>NOTICE</h3>
  <article class="notice_view_table_wrap">
    <div class="notice_view_title">
      <h4><%= row.title %></h4>
    </div>
    <div class="notice_view_contant">
      <%= row.cont %>
    </div>
  </article>
  <!-- 수정, 삭제, 목록 버튼 -->
  <div class="emend_delete_list_notice_view_btn_box mt100">
    <button type="button" id="notice_view_emend" onclick="javascript:location.href='/updateM?num=<%= row.num %>'">수정</button>
    <button type="button" id="notice_view_delete" onclick="javascript:location.href='/deleteM?num=<%= row.num %>'">삭제</button>
    <button type="button" id="notice_view_write" onclick="javascript:location.href='/notice'">목록</button>
  </div>  
</div>