<div class="qna_list_wrap w1760 mt100">
  <h3>Q&A</h3>
  <article class="qna_list_table_wrap">
  <div class="qna_list_title">
    <ul>
      <li class="qna_list_num">번호</li>
      <li class="qna_list_cont">제목</li>
      <li class="qna_list_write">작성자</li>
      <li class="qna_list_day">등록일</li>
      <li class="qna_list_view">조회수</li>
    </ul>
  </div>
  <div class="qna_list_body">
    <ul class="qna_list">
      <li class="qna_list_num">1</li>
      <li class="qna_list_cont">제목1제목1제목1제목1제목1제목1제목1제목1제목1</li>
      <li class="qna_list_write">관리자</li>
      <li class="qna_list_day">2023-01-05</li>
      <li class="qna_list_view">1</li>
    </ul>
    <div class="qna_list_content">
        <p>
          여기는 Q&A를 보여주는 페이지이다~~~~~~~
        </p>
      <!-- 수정,삭제버튼 -->
        <div class="emend_delete_qna_btn_box mt20">
          <button type="button" id="qna_emend">수정</button>
          <button type="button" id="qna_delete">삭제</button>
        </div>
      </div>
    </div>
    <!-- 글작성 버튼 -->
    <div class="write_qna_btn_box mt40">
      <button type="button" id="qna_write">글쓰기</button>
    </div>
  </article>
</div>
<script src="js/qna.js"></script>