<div class="newqna_wrap w1760 mt100">
  <h3>QNA 작성 페이지</h3>
  <form method="post" action="/writeQna" id="newqna_form">
     <div class="new_qna_day_box">
        <p>날짜</p>
        <input type="text" name="new_qna_day" class="new_qna_day">
     </div>
     <div class="new_qna_view_box">
        <p>조회수</p>
        <input type="text" name="new_qna_view" class="new_qna_view">
     </div>
     <div class="new_qna_name_box">
        <p>작성자</p>
        <input type="text" name="new_qna_name" class="new_qna_name">
     </div>
     <div class="new_qna_title_box">
        <p>제목</p>
        <input type="text" name="new_qna_title" class="new_qna_title">
     </div>
     <div class="new_qna_cont_box">
        <textarea name="new_qna_cont" class="new_qna_cont"></textarea>
     </div>
     <div class="new_qna_btn_box mt40">
        <button type="reset" value="취소" class="write_qna_reset" onclick="javascript:location.href='/qna'">취소</button>
        <button type="submit" value="확인" class="write_qna_check" onclick="javascript:location.href='/qna'">확인</button>
     </div>
  </form>
</div>