header{
  position: fixed;
  width: 100%;
  top:0; left:0;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 99999;
}
.scroll-header{
  background-color: #333;
}
.inner_header{
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 */
.logo{
  width: 85px;
  height: 24px;
}
.logo>a{
  display: block;
  width: 100%;
  height: 100%;
}
.logo>a>img{
  display: block;
  width: 100%;
  height: 100%;
}

/* nav */
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li{
  margin-right: 4vw;
}
nav ul li:last-child{
  margin-right: 0;
}
nav ul li a{
  font-size: 20px;
  color: #f6f6f6;
}
/* nav 바 */
#horizontal-underline{
  position: absolute;
  top: 0; left: 0;
  width: 0;
  height: 2px;
  background-color: #f6f6f6;
  transition: width 1s;
}
/* LOGIN */
.login a{
  font-size: 20px;
  color: #f6f6f6;
}

/* 모바일 네비게이션 */
.mobile_v{
  display: none;
}
.mobile_menu:hover{
  cursor: pointer;
}
.hamburger_line{
  display: block;
  width: 2rem;
  height: 3px;
  margin: 0.4rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #f6f6f6;
}
/* 추가 */
#hamburger-1.line_active .hamburger_line:nth-child(2){
  opacity: 0;
}
#hamburger-1.line_active .hamburger_line:nth-child(1){
  transform: translateY(8px) rotate(44deg);
}
#hamburger-1.line_active .hamburger_line:nth-child(3){
  transform: translateY(-11px) rotate(135deg);
}

/* 모바일 */
@media (max-width:1280px){
  /* nav */
  nav ul li a{
    font-size: 16px;
  }
  /* LOGIN */
  .login a{
    font-size: 16px;
  }
}

@media (max-width:769px){
  .inner_header{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* logo */
  .logo{
    display: none;
  }
  /* nav */
  nav ul{
    display: none;
  }
  nav ul.nav_active{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0; left:0;
    padding-top: 75px;
    box-sizing: border-box;
    background-color: #333;
  }
  nav ul li{
    height: 100%;
    margin-right: 0;
  }
  nav ul li a{
    display: block;
    text-align: center;
    font-size: 32px;
  }
  /* LOGIN */
  .login a{
    display: none;
  }
  /* 모바일 네비게이션 */
  .mobile_v{
    display: block;
    z-index: 9999;
  }
  /* 모바일 로그인 */
  .m_login a{
    font-size: 20px;
    color: #f6f6f6;
  }
}
@media (max-width:500px){
  /* 모바일 로그인 */
  .m_login a{
    font-size: 16px;
  }
}
@media (max-width:420px){
  .inner_header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  /* nav */
  nav ul.nav_active{
    padding-top: 51px;
  }
  nav ul li a{
    font-size: 32px;
  }
  .hamburger_line{
    height: 3px;
    margin: 0.4rem auto;
  }
  #hamburger-1.line_active .hamburger_line:nth-child(1){
    transform: translateY(8px) rotate(43deg);
  }
  #hamburger-1.line_active .hamburger_line:nth-child(3){
    transform: translateY(-9px) rotate(137deg);
  }
}