/* 섹션1 */
.section1{
  width: 100%;
  height: 100vh;
}
.sec1banner {
  width: 100%;
  height: 100%;
}
.sec1banner>.swiper-wrapper>.swiper-slide{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.sec1banners{
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* 배너 이미지 */
.sec1banner1{
  background-image: url(../img/bg1.png);
}
.sec1banner2{
  background-image: url(../img/bg2.png);
}
.sec1banner3{
  background-image: url(../img/bg3.png);
}
/* 배너 텍스트 */
.banner_txt{
  position: absolute;
  z-index: 9999;
  top:25%; left: 15.9%;
}
.author_name{
  font-size: 30px;
  color: #f6f6f6;
}
.book_title{
  font-size: 53px;
  margin: 20px 0 50px;
  font-weight: bold;
  color: #f6f6f6;
}
.book_cont{
  margin-bottom: 20px;
  color: #f6f6f6;
}
.banner_txt a{
  color: #f6f6f6;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.sec1banner3 .author_name{
  color: #202020;
}
.sec1banner3 .book_title{
  color: #202020;
}
.sec1banner3 .book_title{
  color: #202020;
}
.sec1banner3 .book_cont{
  color: #202020;
}
.sec1banner3 .banner_txt a{
  color: #202020;
}

/* 페이지 네이션 */
.sec1banner .swiper-pagination{
  font-size: 0px;
}
.sec1banner span.swiper-pagination-current{
  font-size: 53px;
  font-weight: bold;
  color: #f6f6f6;
  position: absolute;
  left: 5.125rem;
  bottom: 0px;
}
.sec1banner span.swiper-pagination-total{
  font-size: 53px;
  font-weight: bold;
  color: #f6f6f6;
  position: absolute;
  right: 5.125rem;
  bottom: 0px;
}

/* 1280에서 기본폰트 사이즈 16 */

@media (max-width:769px){
   /* 배너 이미지 */
  .sec1banner1{
    background-image: url(../img/m_bg01.png);
  }
  .sec1banner2{
    background-image: url(../img/m_bg02.png);
  }
  .sec1banner3{
    background-image: url(../img/m_bg03.png);
  }
  /* 배너 텍스트 */
  .banner_txt{
    left: 10%;
  }
  .author_name{
    font-size: 25px;
  }
  .book_title{
    font-size: 40px;
    margin: 10px 0 30px;
  }
  /* 페이지 네이션 */
  .sec1banner span.swiper-pagination-current{
    font-size: 40px;
    left: 2rem;
  }
  .sec1banner span.swiper-pagination-total{
    font-size: 40px;
    right: 2rem;
  }
}

@media only screen and (max-width:500px){
  /* 배너 텍스트 */
  .author_name{
    font-size: 18px;
  }
  .book_title{
    font-size: 32px;
  }
  /* 페이지 네이션 */
  .sec1banner span.swiper-pagination-current{
    font-size: 32px;
  }
  .sec1banner span.swiper-pagination-total{
    font-size: 32px;
  }
}

@media (max-width:468px){
  /* 배너 텍스트 */
  .author_name{
    color: #f6f6f6;
  }
  .book_title{
    font-size: 24px;
  }
}


/* 섹션2 */
.section2{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 섹션2 left */
.sec_left{
  width: 50%;
  height: 100%;
  background-image: url(../img/sec2_3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec_left_img{
  width: 350px;
  height: 450px;
  background-image: url(../img/sec2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.sec_left_txt p{
  font-size: 53px;
  color: #f6f6f6;
  font-weight: bold;
  text-transform : uppercase;
}

/* 섹션2 right */
.sec_right{
  width: 50%;
  height: 100%;
}
.sec_right_txt{
  padding: 10% 8% 0;
}
.sec_right_txt h3{
  font-size: 53px;
  font-weight: bold;
}
.read_btn{
  font-weight: bold;
  background-color: transparent;
}
.read_btn img{
  width: 40px;
  height: 40px;
  transform: rotate(320deg);
}

/* 섹션2 바텀 */
.sec_bottom{
  width: 100%; 
}
.sec2_flow_text{
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
  color: #9d9d9d;
}
.sec2_flow_wrap {
  flex: 0 0 auto;
  animation: flowText 10s linear infinite;
  padding-right: 1%;
}

@keyframes flowText {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@media (max-width:1480px){
  /* 섹션2 left */
  .sec_left_txt p{
    font-size: 40px;
  }
  /* 섹션2 right */
  .sec_right_txt h3{
    font-size: 40px;
  }
}
@media (max-width:1100px){
  /* 섹션2 right */
  .sec_right_txt h3{
    font-size: 32px;
  }
}
@media (max-width:900px){
  /* 섹션2 */
  .section2{
    height: auto;
  }
  /* 섹션2 left */
  .sec_left{
    width: 100%;
    height: 90vh;
    background-position: center bottom;
  }
  /* 섹션2 right */
  .sec_right{
    width: 100%;
  }
  .sec_right_txt .none_br{
    display: none;
  }
  .sec_right_txt .none_br:nth-child(2){
    display: block;
  }
  /* 섹션2 바텀 */
  .sec2_flow_text{
    font-size: 24px;
  }
}
@media (max-width:769px){
  /* 섹션2 left */
  .sec_left{
    height: 80vh;
  }
  .sec_left_img{
    width: 280px;
    height: 380px;
  }
  .sec_left_txt p{
    font-size: 32px;
  }
  /* 섹션2 right */
  .sec_right_txt{
    padding-top: 0;
  }
  .sec_right_txt .none_br:nth-child(2){
    display: none;
  }
  /* 섹션2 바텀 */
  .sec2_flow_text{
    font-size: 18px;
  }
}

@media (max-width:468px){
  /* 섹션2 left */
  .sec_left{
    height: 70vh;
  }
  .sec_left_img{
    width: 250px;
    height: 350px;
  }
  .sec_left_txt p{
    font-size: 24px;
  }
  /* 섹션2 right */
  .sec_right_txt h3{
    font-size: 24px;
  }
  /* 섹션2 바텀 */
  .sec_bottom{
    display: none;
  }
}


/* 섹션3 */
.section3{
  width: 100%;
  
}
/* books타이틀 */
.sec3_title h2{
  font-size: 96px;
  font-weight: bold;
  margin-left: 15.9%;
}
/* 탭 영역 */
/* 탭 리스트 */
.tab_lists{
  display: flex;
  justify-content: end;
}
.tab_list{
  width: 22%;
  box-sizing: border-box;
}
.tab_list_2{
  margin: 0 3%;
}
/* 북 이미지 */
.tab_list .books_img{
  width: 100%;
}
.tab_list .books_img a{
  display: block;
  width: 100%;
}
.tab_list .books_img img{
  display: block;
  width: 100%;
}
/* 북 텍스트 */
.tab_list .books_author{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab_list .books_title{
  margin-top: 10px;
  font-size: 30px;
}
.tab_list .books_cont{
  word-break: break-all;
}
/* 탭 버튼 */
.sec3_tab_btn button{
  background-color: transparent;
}
.sec3_tab_btn button img{
  width: 55px;
  height: 55px;
  transform: rotate(135deg);
}

/* 스와이퍼 버튼 */
.tab_list_btn{
   display: none;
}
/* 탭 콘트 */
.tab_cont{
  width: 70%;
  height: auto;
  padding: 100px 0;
  background-color: #d9d9d9;
}
.tab_cont_wrap{
  display: flex;
  transform: translateX(22%);
}

.tab_cont .books_text{
  width: 50%;
  margin-right: 3%;
}
.tab_cont .books_title{
  font-size: 53px;
  font-weight: bold;
}
.tab_cont .books_author{
  font-weight: bold;
}
.tab_cont .books_content{
  word-break: break-all;
}
.tab_cont .books_img{
  width: 300px;
  display: block;
}
.tab_cont .books_img a{
  display: block;
  width: 100%;
}
.tab_cont .books_img img{
  display: block;
  width: 100%;
}
.tab_cont_wrap2{
  display: none;
}
.tab_cont_wrap3{
  display: none;
}


@media (max-width:1480px){
  /* books타이틀 */
  .sec3_title h2{
    font-size: 53px;
  }
  /* 탭 콘트 */
  .tab_cont .books_title{
    font-size: 35px;
  }
}

@media (max-width:1100px){
  /* 탭 리스트 */
  .tab_wrap{
    overflow: hidden;
  }
  .tab_lists{
    width: 300vw;
    transition: transform .8s;
  }
  .tab_list{
    width: 100vw;
    transform : translateX(45vw);
  }
  .tab_list_2{
    margin: 0;
  }
  /* 북 이미지 */
  .tab_list .books_img{
    width: 40%;
  }
  .tab_list_btn{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tab_list_btn>button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #202020;
    font-size: 0;
  }
  .tab_list_btn>button.btn_active{
    background-color: #d9d9d9;
  }
  /* 탭 콘트 */
  .tab_cont{
    width: 80%;
  }
}

@media (max-width:769px){
  /* books타이틀 */
  .sec3_title h2{
    margin-left: 7%;
  }
  /* 탭 콘트 */
  .tab_cont{
    width: 100%;
    padding: 0;
  }
  .tab_cont_wrap{
    transform: translateX(0%);
    padding: 8%;
  }
  .tab_cont .books_text{
    width: 100%;
    margin-right: 0%;
  }
  .tab_cont .books_title{
    font-size: 30px;
  }
  .tab_cont .books_img{
    display: none;
  }
}

@media (max-width:468px){
  /* books타이틀 */
  .sec3_title h2{
    font-size: 40px;
  }
  /* 탭 리스트 */
  .tab_list{
    transform : translateX(30vw);
  }
  /* 북텍스트 */
  .tab_list .books_title{
    font-size: 24px;
  }
  /* 탭콘트 */
  .tab_cont .books_title{
    font-size: 24px;
  }
}

/* 섹션4 */
.section4 {
  width: 100%;
}
/* AUTHOR 타이틀 */
.sec4_title h2 {
  font-size: 96px;
  font-weight: bold;
  margin-left: 15.9%;
}

/* 작가 */
.author_list{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.author_list li{
  width: calc(20% - 50px);
}
.author_list a{
  display: block;
  width: 100%;
  position: relative;
}
.author_list img{
  display: block;
  width: 100%;
}
.author_profile{
  color: #f6f6f6;
  font-size: 20px;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: top 1.5s;
  padding-left: 10px;
  box-sizing: border-box;
}
.author_books{
  display: block;
  font-size: 16px;
  padding: 10px 10px 10px 0;
  box-sizing: border-box;
}
.author_profile.profile_active{
  top: 0;
}

/* 버튼 */
.sec4_btn{
  text-align: right;
}
.sec4_btn .more_btn{
  background-color: transparent;
  font-size: 53px;
  color: #202020;
}

@media only screen and (max-width:1760px){
  /* 작가 */
  .author_list li{
    width: calc(20% - 15px);
  }
  .author_profile{
    font-size: 18px;
  }
}
@media (max-width:1480px){
  /* AUTHOR 타이틀 */
  .sec4_title h2 {
    font-size: 53px;
  }
  /* 버튼 */
  .sec4_btn .more_btn{
    font-size: 35px;
  }
}
@media (max-width:1280px){
  /* 작가 */
  .author_list li{
    width: calc(25% - 15px);
  }
  .author_list li:last-child{
    display: none;
  }
}
@media (max-width:1000px){
  /* 작가 */
  .author_list li{
    width: calc(33% - 15px);
  }
  .author_list li:nth-child(4){
    display: none;
  }
}
@media (max-width:769px){
  /* books타이틀 */
  .sec4_title h2 {
    margin-left: 7%;
  }
  /* 작가 */
  .author_list li{
    width: calc(50% - 15px);
  }
  .author_list li:nth-child(3){
    display: none;
  }
  /* 버튼 */
  .sec4_btn .more_btn{
    font-size: 30px;
  }
}

@media (max-width:468px){
  /* books타이틀 */
  .sec4_title h2 {
    font-size: 40px;
  }
  /* 작가 */
  .author_list {
    justify-content: center;
  }
  .author_list li{
    width: calc(100% - 15px);
  }
  .author_list li:nth-child(2){
    display: none;
  }
  .author_profile{
    top: 92%;
    font-size: 20px;
  }
  .author_books{
    font-size: 14px;
  }
}
@media (max-width:360px){
  /* 작가 */
  .author_profile{
    top: 92%;
    font-size: 16px;
  }
}

/* 섹션5 */
.section5 {
  width: 100%;
  padding-bottom: 100px;
  background-color: #202020;
  color: #f6f6f6;
}
/* 에디터 타이틀 */
.sec5_title h2 {
  font-size: 96px;
  font-weight: bold;
  margin-left: 15.9%;
}


/* 노트 리스트 */
.note_list_wrap{
  display: flex;
  justify-content: end;
  position: relative;
  top:0;
  overflow: hidden;
}
.note_list{
  width: 22%;
  box-sizing: border-box;
}
.note_list_2{
  margin: 0 3%;
}
/* 노트 이미지 */
.note_list .note_img{
  width: 100%;
}
.note_list .note_img a{
  display: block;
  width: 100%;
}
.note_list .note_img img{
  display: block;
  width: 100%;
}
/* 노트 텍스트 */
.note_list .aditer_name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note_list .aditer_title{
  margin-top: 10px;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note_list .aditer_cont{
  word-break: break-all;
}

/* 버튼 */
.sec5_btn{
  text-align: right;
}
.sec5_btn .more_btn{
  background-color: transparent;
  font-size: 53px;
  color: #f6f6f6;
}

@media (max-width:1480px){
  /* 에디터 타이틀 */
  .sec5_title h2 {
    font-size: 53px;
  }
  /* 버튼 */
  .sec5_btn .more_btn{
    font-size: 35px;
  }
}
@media (max-width:1000px){
  /* 섹션5 */
  .section5 {
    padding-bottom: 80px;
  }
  /* 노트 리스트 */
  .note_list{
    width: 30%;
  }
  .note_list_2{
    margin: 0 0 0 3%;
  }
  .note_list_3{
    display: none;
  }
}
@media (max-width:769px){
  /* 에디터 타이틀 */
  .sec5_title h2 {
    margin-left: 7%;
  }
  /* 노트 리스트 */
  .note_list{
    width: 70%;
  }
  .note_list_2{
    display: none;
  }
  /* 버튼 */
  .sec5_btn .more_btn{
    font-size: 30px;
  }
}
@media (max-width:500px){
  /* 섹션5 */
  .section5 {
    padding-bottom: 50px;
  }
}
@media (max-width:468px){
  /* 에디터 타이틀 */
  .sec5_title h2 {
    font-size: 40px;
  }
  /* 노트 리스트 */
  .note_list_wrap{
    justify-content: center;
  }
  .note_list{
    width: 85%;
  } 
  /* 노트 텍스트 */
  .note_list .aditer_title{
    font-size: 24px;
  }
}