header{
  position: fixed;
  width: 100%;
  top:0; left:0;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 99999;
}
.scroll-header{
  background-color: #333;
}
.inner_header{
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 */
.logo{
  width: 85px;
  height: 24px;
}
.logo>a{
  display: block;
  width: 100%;
  height: 100%;
}
.logo>a>img{
  display: block;
  width: 100%;
  height: 100%;
}
/* 모바일 로고 */

/* nav */
#gnb{
  width: 80%;
  text-align: center;
}
#gnb>ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#gnb>ul>li{
  width: 25%;
  box-sizing: border-box;
  position: relative;
}
#gnb>ul>li>a{
  font-size: 20px;
  color: #f6f6f6;
  position: relative;
}
/* 밑줄 추가 */
#gnb>ul>li>a:hover::after{
  transform: scaleX(1);
}
#gnb>ul>li>a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background: #f6f6f6;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .3s;
}
/* 서브 네비 */
.sub_menu{
  position: absolute;
  width: 100%;
  top:50px;
  left: 0%;
  background-color: rgba(51, 51, 51, 0.5);
  height:0;
  overflow:hidden;
  transition:all .5s;
}
.sub_menu.sub-menu-bgcolor{
  background-color: #333;
}
.sub_menu>li>a{
  display: inline-block;
  text-decoration: none;
  padding: 10px 0;
  color: #f6f6f6;
  text-align: center;
  position: relative;
}
.sub_menu>li>a:hover{
  font-weight: bold;
}
/* LOGIN */
.login{
  width: 25px;
}
.login a{
  display: block;
  width: 100%;
}
.login a img{
  display: block;
  width: 100%;
}
/* 모바일 LOGIN */
.m_login a{
  display: block;
  width: 100%;
  height: 100%;
}
.m_login a img{
  display: block;
  width: 100%;
}
/* 모바일 네비게이션 */
.mobile_v{
  display: none;
}
.mobile_menu:hover{
  cursor: pointer;
}
.hamburger_line{
  display: block;
  width: 2rem;
  height: 3px;
  margin: 0.4rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #f6f6f6;
}

#hamburger-1.line_active .hamburger_line:nth-child(2){
  opacity: 0;
}
#hamburger-1.line_active .hamburger_line:nth-child(1){
  transform: translateY(8px) rotate(44deg);
}
#hamburger-1.line_active .hamburger_line:nth-child(3){
  transform: translateY(-11px) rotate(135deg);
}

/* 모바일 */
@media (max-width:1280px){
  /* nav */
  #gnb>ul>li>a{
    font-size: 16px;
  }
  .sub_menu{
    top:46px;
  }
}
@media (max-width:980px){
  #gnb{
    width: 95%;
  }
  .sub_menu{
    top:45px;
  }
}
@media (max-width:769px){
  .inner_header{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* logo */
  .logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
  }
  /* nav */
  #gnb>ul{
    display: none;
  }
  #gnb>ul.nav_active{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0; left:0;
    padding-top: 75px;
    padding-bottom: 75px;
    box-sizing: border-box;
    background-color: #333;
  }
  #gnb>ul>li{
    width: 100%;
    height: 100%;
  }
  #gnb>ul>li>a{
    display: block;
    text-align: left;
    padding-left: 3%;
    font-size: 32px;
  }
  /* 서브 네비 */
  .sub_menu{
    height:auto;
    overflow:visible;
  }
  .sub_menu>li>a{
    display: block;
    font-size: 20px;
    text-align: left;
    left: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  .sub_menu>li>a::before{
    content: '';
    position: absolute;
    top:50%; left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: #f6f6f6;
  }
  /* LOGIN */
  .login a{
    display: none;
  }
  /* 모바일 네비게이션 */
  .mobile_v{
    display: block;
    z-index: 9999;
  }
  /* 모바일 로그인 */
  .m_login{
    width: 30px;
  }
  /* 밑줄 추가 해제 */
  #gnb>ul>li>a:hover::after{
    display: none;
  }
  #gnb>ul>li>a::after{
    display: none;
  }
  .sub_menu>li>a:hover{
    font-weight: normal;
  }
}
@media (max-width:500px){
  #hamburger-1.line_active .hamburger_line:nth-child(1){
    transform: translateY(8px) rotate(43deg);
  }
  #hamburger-1.line_active .hamburger_line:nth-child(3){
    transform: translateY(-9px) rotate(137deg);
  }
}
@media (max-width:420px){
  .inner_header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  /* nav */
  #gnb>ul.nav_active{
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .hamburger_line{
    height: 3px;
    margin: 0.4rem auto;
  }
  /* 서브메뉴 */
  .sub_menu>li>a{
    font-size: 16px;
  }
}